.userpic{
    border-radius: 70%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: 20px;
}
.artistbiospace{
    width: 1000px;
    height: 400px;
}
.col-lg-7{
    background-color: #cb0022;
}
form{
    width: 800px;
    display:inline-block;
    bottom: 90%;
}
.btn-primary{
    padding-left:6px;padding-right:6px;padding-top:1px !important;padding-bottom:1px !important;background-color:#cb0022 !important;border-radius:21px !important;
}
.btn-default{
    padding-left:6px;padding-right:6px;padding-top:1px !important;padding-bottom:1px !important;background-color:#cb0022 !important;border-radius:21px !important;
    color: white;
}
.coverphotoimage{
    height: 250px;
}
.artist{
    background-color: #e9ebee;
    }
.event{
      background-color: #e9ebee;
}
.wrapper{
    background-color: #e9ebee;
}