.row-group{
    margin-top:20px!important;
    padding-right:15%;
    padding-left:15%;
}
.card-columns.card-columns{
    width:100%;
    background-color: #e9ebee;
}
.discover-card-title {
    margin-top: 5px;
    margin-left: 5px;
}
.discover-card-title-text{
    margin-left:5px;
}
.cardbody-text-padding{
    padding: .5rem !important;
}
.card-red-border.card{
    border-width: thick;
    border-color: #cb0022;
}
.cards-edit{
    color:black !important;
}
.blur img{
transition: 1s ease;
}

.blur img:hover {
-webkit-filter: blur(5px);
transition: 1s ease;
}