.SplitPane.vertical{
    background-color:#e9ebee;
    padding-top:15px;
}
.Pane.vertical.Pane1{
    background-color:#e9ebee;
    position:sticky;
    padding-right:15px;
    width:25%!important;
}
.Pane.vertical.Pane2{
    padding-right:30%;
    overflow:auto;
}
.pane-main{
    background-color: white;
    height:180px;
    border:solid thin lightgray;
}
.Pane.pane-edit{
    margin-left:40%;
    background-color:#e9ebee;
}
.yout1{
    margin-top:10px;
}
.yout2{
    margin-top:15px;
}
.crt-post{
    background-color: whitesmoke;
    border-bottom:solid 1px lightgray;
    padding:5px;
}
i.far.fa-newspaper{
    margin-right:8px;
    font-size:larger;
}
i.far.fa-envelope{
    margin-right:8px;
    margin-left:2px;
    font-size:larger;
}
i.fas.fa-users{
    margin-right:7px;
    font-size:larger;
    margin-left:-1px;
}
i.far.fa-calendar-minus{
    margin-right:12px;
    font-size: larger;
    margin-left: 2px;
}
.avatar1{
    width:25px;
    border-radius:200px;
    margin-right:4px;
}
.avatar2{
    width:50px;
    height:50px;
    border-radius:200px;
}
#right-comment-col{
    width:80%;
    border: none;
}
.d-flex.align-items-start.form-group{
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    border-bottom-style: solid;
    border-color: #e9e9e9;
    border-bottom-width: 1px;
    width: 95%;
}
#btn-commentbox{
    padding:0.15rem 0.5rem !important;
    border:none;
    border-radius:21px;
    display:block;
    color:white;
    background-color:#cb0022;
    margin-left:10px;
    margin-right:5px;
    text-align:left;
}
#btn-commentbox-icon{
    margin-right: 4px;
}
#feed-main{
    margin-top:10px;
    background-color: white;
    border:solid thin lightgray;
}
#feed-main2{
    margin-top:33px;
    background-color: white;
    border:solid thin lightgray;
}
#feed-main-header{
    margin-top: 2%;
    margin-left: 2%;
    height:fit-content;
}
#feed-main-header-text{
    color:#cb0022;
}
.feed-user-detail{
    height:fit-content;
    font-weight: 300;
    font-size: smaller;
}
.list-detail{
    height:fit-content;
    font-weight: 500;
    margin-top: 2%;
    margin-left: 2%;
}
.feed-content{
    font-weight: 100;
    position: relative;
    margin-top: 40px;
    margin-left: 0px;
    right: 30px;
    padding-bottom: 10px;
}