.col-lg-7{
    background-color: #cb0022;
    text-align:center;
}
.scout-col{
   background-color: #e9ebee;
    float: left;
    width:280px;
    text-align: center; 
}
.scoutfeature-col{
    background-color: #e9ebee;
    float: right;
    width:280px;
    text-align: center; 
}
.featuredartist{
    width: 150px;
    border-radius: 24px;
}